html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #ff4286,
    #ff86a9,
    #fbe3c2,
    #ffebcd,
    #ffedd4
  );
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: arial;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  text-align: center;
}

.input {
  border-radius: 5px;
  border: 0px;
  width: 100%;
  padding: 20px;
  margin: 5px;
}

.blueBg {
  background-color: aliceblue;
  color: black;
}
.grayBg {
  font-style: italic;
  background-color: #f8f8f8;
  color: #b7b7b7;
}

.nameWrapper {
  display: flex;
}

button {
  background-color: #4896ff;
  color: #fcf8f3;
  border-radius: 5px;
  padding: 12px 10px;
  margin: 10px;
  border: 0px;
  width: 100%;
}

.affirmation {
  margin: 5px;
  margin-left: 12px;
  color: #969696;
  display: flex;
}
